<div>
  <table class="table">
    <tr>
      <th>名前</th>
      <td>
        田路 楓花
      </td>
    </tr>
    <tr>
      <th>趣味</th>
      <td>
      <ul>
    <li>舞台観劇</li>
    <li>映画鑑賞</li>
    <li>official髭男dism</li>
  </ul>  
      </td>
    </tr>
  </table>
  <%= image_tag "huge.jpg" %>
</div>

